@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 10px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a {
  text-decoration: none;
  color : gray;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex: 1 1 0;
  margin: 0;
  padding: 0;
  min-width: 100vh;
}

.header {
  
  display: flex;
  background-color: whitesmoke;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin: 0;
}



.footer {
  
  display: flex;
  background-color: #eeeeee;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding: 12px;
  margin-left: 0;
}

ul{
  list-style-type: none ;
  padding: 0;
  margin: 0;
  gap : 12px;
}

.left-links {
  display: flex;
   

}
.right-links {
  display: flex;
  
}

.content {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap : 20px;
  
}
