@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex: 1;
  margin: 0;
  min-width: 100vh;
}

.header {

  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: space-between;
}

.left-links {
  display: flex;
  /* justify-content: flex-start; */

}
.right-links {
  display: flex;
  justify-content: flex-end;
}

.content {

  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer {
  
  display: flex;
  background-color: gray;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
