
.odd {
    background-color: rgb(230, 109, 129);
    font-family: Verdana, sans-serif;
    
}

#second {
    color: blue;
    font-size: 36px;
}

.odd.third {
    font-size: 24px;
}

#fourth {
    background-color: rgb(98, 219, 98);
    font-size: 24px;
    font-weight: bold;
}