*{
  font-size: 16px;
  margin : 16px;
}


body {
  background: #eee;
  font-family: sans-serif;  
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  box-sizing: content-box;
  background: #e3f4ff;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: -15px;
  
}